<!DOCTYPE html>
<html ng-app="testApp">

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Test App</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="../css/site-styles.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script data-require="angular.js@1.0.x" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js" data-semver="1.0.7"></script>
    <script src="app.js"></script>
    <style>
  
    </style>
  </head>

<body ng-controller="testCtrl" ng-init="init()">
  <div>
   <button ng-click="getData()" class="btn">Click Me for<br/>lastest Data</button>

<!--  <div ng-controller="categoryCtrl" class="float">
      <label>current categories: </label><br/>
             <select 
              ng-model="selectedOption" 
              ng-options="option.category for option in options"
              ng-change="changeCategory(selectedOption)"
              id="Category"
              >
            </select>
          </div>  -->

    <div ng-controller="userCtrl"  class="float">
          <label>current users: </label><br/>
             <select 
              ng-model="selectedOption" 
              ng-options="option.name for option in options"
              ng-change="changeCategory(selectedOption)"
              id="User"
              >
            </select>
          </div>

     <div ng-controller="expertCtrl"  class="float">
       <label>current experts: </label><br/>
             <select 
              ng-model="selectedOption" 
              ng-options="option.name for option in options"
              ng-change="changeCategory(selectedOption)"
              id="Expert"
              >
            </select>
          </div>
    </div><!-- end data section -->
    <div>

           <h1>Match Me</h2>
           <p>I have an idea in a particular field. Match me with an expert in that field.</p>
            <p>Please select if you have an idea or want to be an idea expert. </p>
      <div id="idea" ng-show="showIdea">
      <label>Choose Your Category: </label>
           
            <div ng-controller="categoryCtrl" class="">
              <label>current categories: </label><br/>
                     <select 
                      ng-model="selectedOption" 
                      ng-options="option.category for option in options"
                      ng-change="changeCategory(selectedOption)"
                      id="Category2"
                      >
                    </select>
           
          <p></p>
          <label>Your Name: </label>
          <input type="text" ng-model="fullName" /><br />
          <p></p>
          <p></p>
          <label>Your Email: </label>
          <input type="text" ng-model="emailAddr" /><br />
          <p></p>
            <input id="ideabtn2" type="button" value="FindExpert" ng-click="getExpert()">
           <p></p>
            <div class="base-class" ng-class="yourexpert" >
              <text ng-model="expert">TEST - Your expert is Herbert Freebie{{expert}}. He will be contacting you shortly</text>
            </div>
       </div><!-- end controller -->
    </div> <!-- end idea --> 

    <!-- EXPERT section -->
    <div id="expert" ng-show="showExpert">
           <label>So you want to be an expert. Select a category in the dropdown box below in the order of preference, ie, if Engineering is your strongest skillset click 'Engineering', if 'Science' is your next strongest select that next then your third preference until all five categories are selected:</label>
                  <label>Choose Your Category: </label>
                  <p></p>
                   <span ng-controller="superCtrl">
                           <select 
                            ng-model="selectedOption" 
                            ng-options="option.cat for option in options"
                            ng-change="changeCategory(selectedOption)"
                            id="Category"
                            >
                          </select>
                          <p></p>
                            <label>Your Name: </label>
                              <input type="text" ng-model="fullName" /><br />
                              <p></p>
                            <p></p>
                            <label>Your Email: </label>
                              <input type="text" ng-model="emailAddr" /><br />
                              <p></p>
                              <input id="setbtn" type="button" value="Build Profile" ng-click="showProfile()">
                             <p></p>
                        </span>
               <p></p>
                
             <div class="base-class" ng-class="yourexpert" >
              <text>Your profile has been added..now sit and wait for the requests to come rolling in!</text>
            </div>
          </div> 
               <p></p>
        </div><!-- end -->
        <div id="main_btns">   
          <button ng-click="showIdea = !showIdea">Idea/Question</button>
          <button ng-click="showExpert = !showExpert">Idea Expert</button>
        </div>  
  <script>
    $(document).ready ( function () {
      alert("OK baby, let's go!!!");
    });
  </script>
</body>
</html>

